<div class="datatable">
  <h2>Nimekiri</h2>
  
  <table width="100%" cellspacing="0">
    <thead>
      <tr>
        <ng-container *ngFor="let header of headers; let i = index;">
          <th (click)="sort(header)">{{settings.columns[header]['title']}}
            <i class="fa fa-sort" *ngIf="sortHeader !== header"></i>
            <i class="fa fa-sort-up" *ngIf="sortHeader === header && direction"></i>
            <i class="fa fa-sort-down" *ngIf="sortHeader === header && !direction"></i>
            
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      
      
      <ng-container *ngFor="let listdata of pageOfItems; let i=index">
        <tr (click)="select(listdata.id)" [ngClass]="{'select' : selectedId == listdata.id }">
          <td>{{listdata.firstname}}</td>
          <td>{{listdata.surname}}</td>
          <td>{{listdata.sex}}</td>
          <td>{{listdata.personal_code }}</td>
          <td>{{listdata.phone}}</td>
        </tr>
        <tr *ngIf="selectedId == true || selectedId == listdata.id">
          <td colspan="5">
            <div>  
              <ng-container *ngFor="let data of listdata.images | slice:0:1">
                <div class="img-wrapper">
                  <img src="{{data.medium}}" alt="{{data?.alt}}"> 
                </div>
              </ng-container>
              <div class="text-wrapper" [innerHTML]="(listdata.intro.length > 300) ? (listdata.intro | slice:0:300)+'...':(listdata.intro)"></div>  
            </div>
          </td>
        </tr>
      </ng-container>
      
    </tbody>
  </table>
  
  
  <app-pagination [items]="dataCopy" [settings]="settings.pager" (changePage)="onChangePage($event)"></app-pagination>
  
</div>


